openapi: "3.0.0"
info:
  version: 1.0.0
  title: Thingiverse
  license:
    name: MIT
servers:
  - url: https://api.thingiverse.com
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: [] 
paths:
  /search/{term}:
    get:
      summary: Search things matching a term
      operationId: searchThingsByTerm
      parameters:
        - name: term
          in: path
          description: The search query to perform
          required: true
          schema:
            type: string
      responses:
        "200":
          description:  A list of items matching the search
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Things"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /things/{id}:
    get:
      summary: Get thing by id
      operationId: getThingById
      parameters:
        - name: id
          in: path
          description: The id of the thing to get
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Thing object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Thing"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /things/{id}/files:
    get:
      summary: Get thing files by id
      operationId: getThingFilesById
      parameters:
        - name: id
          in: path
          description: The id of the thing files to get
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Thing object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Files"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /users/{username}/things:
    get:
      summary: List all things for a user
      operationId: listThingsByUsername
      parameters:
        - name: username
          in: path
          description: The username of the user for which to fetch things.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Thing objects
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Things"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    DetailsSectionDataItem:
      type: object
      properties:
        "printer brand":
          type: string
        printer:
          type: string
        resolution:
          type: string
        infill:
          type: string
        "filament_brand":
          type: string
        "filament_color":
          type: string
        "filament_material":
          type: string
        notes:
          type: string
        video:
          type: string
    DetailsSection:
      type: object
      required:
        - type
        - name
      properties:
        type:
          type: string
        name:
          type: string
        data:
          type: array
          items:
            $ref: "#/components/schemas/DetailsSectionDataItem" 
    File:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        size:
          type: integer
          format: int64
        url:
          type: string
        public_url:
          type: string
        threejs_url:
          type: string
        thumbnail:
          type: string
        # default_image:
        #   type: string
        date:
          type: string
        formatted_size:
          type: string
        meta_data:
          type: array
          items:
            type: string
        download_count:
          type: integer
          format: int64
    Files:
      type: array
      items:
        $ref: "#/components/schemas/File"
    Thing:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        thumbnail:
          type: string
        url:
          type: string
        public_url:
          type: string
        creator:
          $ref: "#/components/schemas/User"
        added:
          type: string
        modified:
          type: string
        is_published:
          type: boolean
        is_wip:
          type: boolean
        is_featured:
          type: boolean
        likes_count:
          type: integer
          format: int64
        is_liked:
          type: boolean
        collect_count:
          type: integer
          format: int64
        is_collected:
          type: boolean
        is_watched:
          type: boolean
        # default_image
        description:
          type: string
        instructions:
          type: string
        description_html:
          type: string
        instructions_html:
          type: string
        details:
          type: string
        details_parts:
          type: array
          items:
            $ref: "#/components/schemas/DetailsSection"
        edu_details:
          type: string
        # edu_details_parts
        license:
          type: string
        # more stuff
        download_count:
          type: integer
          format: int64
        view_count:
          type: integer
          format: int64
        # education

    Things:
      type: array
      items:
        $ref: "#/components/schemas/Thing"

    User:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        url:
          type: string
        public_url:
          type: string
        thumbnail:
          type: string
        accepts_tips:
          type: boolean

    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
